{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
  <title>پنل انتخابات | EVote</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


  <!-- dateDropper lib -->
  <script src="{% static 'js/datedropper.js' %}"></script>
  <!-- my style -->
  <link rel="stylesheet" href="{% static '/css/header.css' %}">
  <link rel="stylesheet" href="{% static '/css/footer.css' %}">
  <link rel="stylesheet" href="{% static '/css/panel_style.css' %}">

</head>

<body>


  <div id="wrapper">

    <div id="sidebar-wrapper" class="shadow sidenav custom-text">
      <img src="{{ image.url }}" alt="Avatar" class="avatar  responsive">
      <div class="profile-index">
        <h3>{{ fullname }}</h3>
        <h5>{{ job }}</h5>
      </div>
      <div class="links">
          <a href="{% url 'electionpro:election_result' %}">پروفایل</a>
          <a href="{% url 'election:newelection' %}">انتخابات جدید</a>
          <a href="{% url 'electionpro:election_history' %}">تاریخچه</a>
          <a href="{% url 'electionpro:profile_panel' %}">تنظیمات</a>
      </div>
      <div class="btn-container">
        <button class="button" onclick="location.href='{% url 'home' %}'">خروج</button>
      </div>
    </div>

    <!-- main part -->
    <div id="page-content-wrapper" class="custom-text">
      <div class="container-fluid">
        <form method="post" class="form-pos" enctype='multipart/form-data'>
            {% csrf_token %}
              <label for="name">نام</label>
              {% render_field form.user_fullname|append_attr:"id:name" type="text" placeholder="نام کاربر" name="name"|add_class:"form-field" %}
              <label for="status">شرح حال</label>
              {% render_field form.user_job|append_attr:"id:status" type="text" placeholder="شخصیت حقیقی یا حقوقی" name="title"|add_class:"form-field" %}
              <label for="avatar">تصویر پروفایل</label>
              {% render_field form.user_photo|append_attr:"id:avatar" type="file" accept=".jpg,.png" %}
              <input type="submit" class="btn btn-outline-success" value="بروزرسانی">
        </form>
      </div>
    </div>

  </div>

  </div>






</body>

</html>
