<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, basic, centered, links" />

	<title>Footer</title>

	<link rel="stylesheet" href="css/footer.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
</head>

	<body>


		<footer class="footer">

			<p class="footer-company-motto">"انتخاب بهترین ها حق شماست"</p>

			<p class="footer-links">


				<a href="about.html">درباره ما</a>
				·
				<a href="faq.html">سوالات</a>
				·
				<a href="contactus.html">ارتباط با ما</a>
				·
				<a href="homepage.html">خانه</a>
			</p>

			<p class="footer-company-name">Evote &copy; 2018</p>

		</footer>

	</body>

</html>
