@font-face {
    font-family: "bbcnasim";
    src: url("../font/persian/bbcnasim.ttf") format("truetype");
    src: url("../font/persian/bbcnasim.otf");
    font-weight:normal;
    font-style:normal;
}


@font-face {
    font-family: "BRoya";
    src: url("../font/persian/BRoya.ttf") format("truetype");
    src: url("../font/persian/BRoya.otf") format("otf");
    src: url("../font/persian/BRoya.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

.container-fluid {
  padding: 0 !important;
}

.container-fluid .header1 {
  margin-top: 15px;
  margin-right: 15px;
  font-family: "bbcnasim";
}

.container-fluid .content .list {
  font-size: 2rem;
}

.container-fluid .content .list li a {
  font-family: "BRoya";
}

body {
  background-color: #d2dae2 !important;
}

#wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
}


#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 350px;
  height: 100%;
  overflow-y: auto;
  background: #222f3e;
  box-shadow: 0 0 0 50px rgba(0,0,0,0.3);
}


#page-content-wrapper {
  background-color: #d2dae2 !important;
  margin-right: 340px;
  margin-left: 0px;
  height: 100%;
  width: 100%;
  position:static;

}


.form-pos {
  position: absolute;
  margin-right: 65px;
  margin-top: 70px;
}

.form-field {
  border-color: #079992;
  font-family: "BRoya";
  font-size: 15px;
}

.form-field1{
  border-color: #079992;
  float : right;
  width: 11rem;
  font-family: "BRoya";
  font-size: 15px;
  }


h3 , h5 , p , label{
   font-family: "BRoya";
}


label {
  font-size: 18 !important;
  margin-bottom: 0px;
}

.custom-text {
  text-align: right;
}


.profile-index {
  text-align: center;
  margin: 0px auto;
  text-decoration: none;
  color: white;
}

.avatar {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 7px;
  z-index: 3;
}


.profile {
  position: relative;
  justify-content: right;
}


.responsive {
    max-width: 100%;
    height: auto;
}


/* The sidebar menu */
.sidenav {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   padding: auto 0px;
   height: 100%;
   padding: 0;
   list-style: none;
}

/* The navigation menu links */
.sidenav a {
   text-align: center;
   margin: 10px auto;
   padding: 16px 32px;
   text-decoration: none;
   font-size: 25px;
   color: white;
   display: block;
   font-family: "BRoya";
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
   color: white;
   background-color: #485460;
}


.button {
  background-color: #56baed;
  margin: 20px 0px;
  border: none;
  color: white;
  padding: 16px 32px;
  width: 100%;
  text-align: center;
  font-family: "BRoya";
  font-size: 24px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  display: flex;
}

.button:hover {
  opacity: 1
}

.button-add {
    background-color: #087099;
    margin: 20px 0px;
    border-style: hidden;
    border-color: #087099;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 7px 5px;
    width: 16%;
    height: 50px;
    text-align: center;
    font-family: "BRoya";
    font-size: 20px;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
}

.button-add:hover {
  opacity: 1
}

input {
  display: block;
  margin: 15px;
  padding: 10px;
  width: 20em;
  border: 2px solid ;
  border-color: #079992;
  border-radius: 25px;

}


.column-field {
    float: right;
    width: 25%;
    padding: 10px;
}

.row-field:after {
    content: "";
    display: table;
    clear: both;
}

.election-content {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  color: white;
}

.election-details {
  width: 300px;
  background-color: #424e5c;
  display: flex;
  flex-direction: column;
}

.election-details .header {
  margin-top: 50px;
  margin-right: 0;
}

.election-details .condids {
  margin-right: 20px;
  margin-top: 20px;
  font-family: "BRoya";
  font-size: 1.2em;
  flex: 1;
}

.election-details .condids ul {
  list-style: none;
}

.election-details .election-meta {
  text-align: center;
  font-family: "BRoya";
  font-size: 1.3em;
}

.election-details .election-meta span {
  width: 100%;
}

.election-details .election-meta div {
  margin-bottom: 10px;
}

.election-details .condids span {
  font-size: 1.2em;
}

.election-details .header h2 {
  width: 100%;
  text-align: center;
}

.election-details .end-election input {
  font-size: 1.2em;
  font-family: "bbcnasim";
  border-color: skyblue;
  color: skyblue;
}

.election-details .end-election input:hover {
  border-color: skyblue;
  color: #424e5c;
  background-color: skyblue;
}

.election-result {
  font-family: "bbcnasim";
  flex: 1;
  background-color: #d2dae2;
  color: black;
}

.election-result .election-link {
  font-size: 1.5em;
  /* text-align: center; */
  margin-right: 80px;
  margin-top: 50px
}

.election-result .election-counter {
  font-size: 1.5em;
  /* text-align: center; */
  margin-right: 80px;
  margin-top: 10px;
}
